<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sang.com.virtuallocation">

    <application>
        <activity android:name=".ui.Loacition_PhoneAppdActivity" />
        <activity android:name=".ui.Loaction_InstallAppActivity" />
        <activity android:name=".ui.Loaction_MapActivity" />
        <activity android:name=".ui.Location_SearchActivity" />
        <activity android:name=".ui.Location_AppDetailActivity" />
        <activity android:name=".ui.Loaction_OfflineMapsActivity"></activity>

    </application>

</manifest>