<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sang.com.virtuallocation">

    <application>
        <activity android:name=".ui.Loacition_PhoneAppdActivity" />
        <activity android:name=".ui.Loaction_InstallAppActivity"></activity>
    </application>

</manifest>